/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&family=Lora:wght@400;500;600&display=swap%27');


  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lora';
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    background: linear-gradient(30deg, #3ba7e6, #3b098c);;
  }

  

/*=============== HEADER & NAV ===============*/
.navigation{
  position: fixed;
  right: 20px;
  top: 20px;
  height: 20px;
  width: 250px;
  z-index: 100;
}

.toggle{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #3b098c;
  padding: 5px 20px;
}

.toggle::before{
  content: 'Menu';
  margin-right: 10px;
}

.toggle.active::before{
  content: 'Close';
}

.toggle span{
  position: relative;
  width: 20px;
  height: 50px;
}

.toggle span::before{
  content:'';
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #011520;
  transition: 0.5s;
}

.toggle span::after{
  content:'';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #011520;
  transition: 0.5s;
}

.toggle.active span::before{
  transform: rotate(225deg);
  top: 23.5px;
}

.toggle.active span::after{
  transform: rotate(135deg);
  bottom: 23.5px;
}

ul{
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
}

ul li{
  position: relative;
  list-style: none;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-250px);
  transition-delay: calc(0.1s * var(--i));
}

.navigation.active ul li{
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}

ul li a{
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  height: 50px;
  background: #fff;
  color: #3b098c;
  transition: 0.3s;
}

ul li a:hover{
  background: #3b098c;
  color: #fff;
  transition: 0s;
}

/* ========== LANDING TEXT ========== */
.landing__text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: #fff;
}

